<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Features</title>
  </head>
  <body>
    <h1>Features Of My Awesome Cart<span class="badge badge-secondary"</span></h1>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">Easy To Use</li>
      <li class="list-group-item list-group-item-warning">Convinient</li>
      <li class="list-group-item list-group-item-primary">Any One Can Use It</li>
      <li class="list-group-item list-group-item-warning">Free Of Cost</li>
      <li class="list-group-item list-group-item-primary">Helping Taking Business Online</li>
    </ul>
  </body>
</html>
